.card {
  width: 350px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.title2 {
  font-size: 18px;
  margin-bottom: 10px;
}


.subtitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.subtitle a {
  text-decoration: none;
  color: #007BFF;
}

.subtitle a:hover {
  text-decoration: underline;
}
